.card {
    border: 1px solid hsla(0, 0%, 54%, 0.787);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    max-width: 250px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
    height: auto;
}

.card h2 {
    font-size: 1.5em;
    margin: 12px 0;
}

.card p {
    color: #666;
}