    .student {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 3px;
        margin: 10px 0;
        width: 200px;
        text-align: center;
        margin: auto 20px;
        display: inline-block;
        background-color: #f9f9f9;

    }